.my-footer{
    height: 100px;
}

.main footer{
    height: 20vh;
    width: 100vw;
    margin-top: 20px;
    align-items:center ;
    /* position: absolute; */
    background-color: #1e3050;
    justify-content: space-between;
    padding: 30px 5%;
    color: #fff;
}

.main footer .reach{
    height: 100%;
    width: 20%;
    justify-content: space-around;
}
.footer-logo{
    font-size: larger;
    font-weight: bold;
}

/* .main footer .reach .footer-logo{
    width: 350%;
    min-width: auto ;
    justify-content: flex-start;
    display: flex;
    border-bottom: #fff solid 2px;
} */

.main footer .reach a{
    height: fit-content;
    justify-content: flex-start;
    display: flex;
}

.main footer .reach ul{
    align-items: center;
    text-align: center;
    height: fit-content;
}

.main footer .reach ul li{
    margin-top: 3px;
    text-align: center;
}

.main footer .reach .outer-links{
    align-items: center;
}

.main footer .reach .outer-links a{
    margin: 0 5px;
}

.main footer .copyright{
    align-self: end;
    margin-bottom: 25px;
}

.main footer .signup{
    justify-items: center;
}

.main footer .signup h4{
    justify-items: center;
    margin-bottom: 50px;
}
.main footer .signup h4 a{
    border: #4d5161 solid 1px;
    background: #fff;
    padding:5px 10px;
    margin-left: 5px;
    color: #2a2a33;
    transition: .3s;
}

.main footer .signup h4 a:hover{
    background: #c2c2c2;
}

.main footer .signup form{
    justify-content: space-between;
    width: 100%;
}

.main footer .signup form input{
    text-align: center;
    height: 30px;
    margin-right: 10px;
}
