*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Titillium Web', sans-serif;

}

body{
    transition: .5s;
}

a{
    color: inherit;
    text-decoration: none;
}
li{
    list-style: none;
}

.head-font{
    font-family: 'Sirin Stencil', cursive;
}

.flex{
    display: flex;
    justify-content: center;
}
.flex-wrap{
    flex-wrap: wrap;
}

.grid{
    display: grid;
}

.container{
    padding: 0 5%;
}

/* NAVIGATION */

nav{
    position: absolute;
    height: 80px;
    display: flex;
    top: 0;
    background: #ffffff83;
    /* background: #4d516165; */
    backdrop-filter: blur(7px);
    width: 100%;
    position: fixed;
    font-size: large;
}


nav .navCon{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

nav .navCon ul li{
    display: inline-block;
}

/* INBOX NOTIFICATION */

nav .navCon ul li.inbox a{
    display: flex;
}

nav .navCon ul li.inbox a .num{
    width: fit-content;
    justify-self: flex-start;
    font-size: x-small;
    height: fit-content;
    padding: 2px 4px;
    background: rgba(255, 104, 58, 0.808);
    border-radius: 50%;
    font-weight: bold;
    font-size: medium;
    padding: 0 5px;
}

nav .navCon ul li.inbox{
    display: inline-block;
}


nav .navCon ul li a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    list-style: none;
    color: #000;
}

nav .navCon ul li.active{
    background-color: #1e3050;
    transition: 0.5s;
}

nav .navCon ul li.active a{
    color: #fff;

}



a.logo{
    text-decoration: none;
    color: inherit;
}

/* SIDE DOT LINKS */

ul.dots{
    height: 200px;
    width: 40px;
    background: fixed ;
    position: absolute;
    position: fixed;
    display: grid;
    justify-content: space-around;
    align-items: center;
    inset-block-end: 100%;
    inset-block-end: 35%;
    inset-inline-end: 0%;
}

ul.dots li{
    list-style: none;
    background-color: #bbbbbb;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    transition: .5s;
}

ul.dots li.activeDot{
    background-color: #1e3050;
    height: 13px;
    width: 13px;
}

.dots-join{
    border-right: 2px solid #1e3050;
    height: 40px;
    justify-self: center;
}

.admin{
    position: absolute;
    inset-block-end: 100%;
    inset-block-end: 75%;
    inset-inline-end: 0%;
}


section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #2a2a33 solid 2px;
}

/* LOGIN MODAL FORM */

#login-show{
    position: absolute;
    transition: .5s;
}

#login-modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    position: fixed;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.hidden{
    display: none; 
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}


.modal{
    width: 400px;
    border-radius: 15px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
}

.top-form{
    display: flex;
    justify-content: flex-end;
}

.close-modal{
    margin: 5px 10px;
    padding: 0px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    border: solid 3px #bebebe8e;
    background: #ffabab;

}

.close-modal:hover{
    scale: 1.05;
    border: solid 3px #818181;
}

.login-form{
    display: grid;
    justify-items: center;
}

.login-form h2{
    margin: 10px;
}

.form-input{
    display: grid;
    justify-content: center;
    gap: 20px;
}

.form-input .form-control{
    height: 50px;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    font-size: medium;
    border: solid 1px #808080;
}

.form-input button{
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 4px #cccccc;
    background: #6effafa1;
    border-radius: 5px;
    transition: .3s;
}

.form-input button:hover{
    background: #6effaf;
}
/* #home{
    background: #d6eef8;
}
#about{
    background: #f8e8d6;
}
#contact{
    background: #ecd6f8;
}
#footer{
    background: #f8d6e0;
}
 */

/* HOME */
 
.page.one{
    min-width: fit-content;
    width: 90%;
    font-size: x-large;
}

.intro{
    text-align: end;
    width: 50%;
    height: fit-content;
    align-self: center;
}



.profile-picture{
    max-width: 500px;
    width: 350px;
    min-width: 200px;
    border-radius: 45% 55% 22% 78% / 59% 77% 23% 41% ;
}

.intro a{
    width: fit-content;
    justify-self: end;
    margin: 20px 0;
    text-decoration: none;
    color: inherit;
    border-bottom: #fff solid 1px;
    transition: .2s ease-in-out;
}
.intro a:hover{
    border-bottom: solid #2a2a33 1px;
}

/* HOME MOBILE */

.mobile main .container section .page.one{
    height: 100%;
    justify-content: center;
}

.mobile main .container section .page .intro{
    width: 90%;
}

.mobile main .container section .page .image{
    display: grid;
    align-items: center;
}


/* SKILLS */

/* .mobile main .container .page.two{
    height: fit-content;
    padding: 30px 0;
} */

.page-two-grid{
    font-size: x-large;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

main .container .page.two{
    /* height: fit-content; */
    padding: 50px 0;
}
.skills-container{
    gap: 20px;
    justify-content: center;
}

section .skills{
    width: 300px;
    height: 350px;
    justify-self: center;

}

.skills .skills-head{
    height: 70px;
    background-color: #a4abb8;
    justify-content: center;
    align-items: center;
    box-shadow: #4d5161 0px 5px 6px;
}

.skills .skills-head h2{
    font-size: xxx-large;
    color: #1e3050;
}

.skills .skills-body{
    height: 280px;
    border: #a4abb8 solid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 0 0 20px 20px;
}

.skills-body ul{
    width: 200px;
    text-align: center;
    margin: 6px 0px;
}

.skills-body ul li{
    margin: 10px 0;
    letter-spacing: 2px;
    line-height: auto;
    list-style: none;
    gap: 5px;

}

::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background-color: #4d5161;
}

body::-webkit-scrollbar-thumb{
    background-color: #969baf;
}

.skills .skills-body{
    scrollbar-width: none;
}

.skills .skills-body::-webkit-scrollbar{
    width: 3px;
}

.skills .skills-body::-webkit-scrollbar-thumb{
    background-color: #4d5161;
}

.skills .skills-body::-webkit-scrollbar-thumb{
    background-color: #969baf;
}

/* PROJECTS */

#projects{
    grid-template-rows: 15fr 0.5fr;
    min-height: fit-content;
}

.project-container{
    width: 80%;
    justify-content: space-around;
    gap: 30px;
    /* max-height: fit-content; */
}

.project-card{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.project-card .project-img{
    width: 100%;
}

.project-card .project-img img{
    max-width: 550px;
    width: 100%;
    border-radius: 10px;
    box-shadow: #747a92d2 0px 5px 6px;

}

.project-card .project-details{
    padding: 10px 5%;
    min-width: 300px;
    max-width: 500px;
}

.project-card .project-details .project-links{
    justify-content: left;
}

.project-card .project-details .project-links a{
    margin: 10px 5px;
    font-size: large;
    color: #2a2a33;
    justify-self: end;
}

.mobile main .container #projects{
    height: fit-content;
}

.mobile main .container #projects .project-container .project-card{
    flex-wrap: wrap;
}

.pagination{
    width: 100px;
    height: 50px;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
}

.pagination .page-number h4{
    height: 100%;
    text-align: center;
    justify-content: center;
}

.project-container{
    justify-self: center;
}

.project-container .pagination{
    margin: 15px 0;
}

.project-container .pagination .prev{
    width: 30px;
    border: #4d51616e solid 1px;
    padding: 0;
    border-radius: 7px 0 0 7px;
    transition: .3s;
}
.project-container .pagination .next{
    width: 30px;
    border: #4d51616e solid 1px;
    padding: 0;
    border-radius: 0 7px 7px 0;
    transition: .3s;
}

.project-container .pagination .prev:hover{
    background-color: #4d51613b;
}
.project-container .pagination .next:hover{
    background-color: #4d51613b;
}

/*  CONTACTS FORM */

section#contacts{
    margin-bottom: 1px;
    border: none;
}

#contacts form{
    width: 100%;
    justify-content: space-between;
    font-size: large;
    transition: .3s;
}

#contacts form div input{
    height: 70px;
    width: 350px;
    /* min-width: 100%; */
    text-align: center;
    margin: 0 50px;
    font-size: large;
    /* align-self: center; */
    transition: .3s;
}


#contacts form textarea{
    min-width: 450px;
    max-width: 450px;
    min-height: 400px;
    max-height: 400px;
    padding: 10px;
    padding-bottom: 50px;
    font-size: medium;
    line-height: 25px;
    letter-spacing: 1px;
    transition: .3s;
}

#contacts form textarea:active{
    border: none;
}

#contacts form button{
    width: 150px;
    height: 50px;
    position: absolute;
    margin: 341px 0 0 49px;
    transition: .3s;
}

.form-prop{
    justify-content: space-around;
}

.mobile main .container #contacts .contactCon form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mobile main .container #contacts .contactCon form textarea{
    min-width: 350px;
    max-width: 350px;
    min-height: 300px;
    max-height: 300px;
    margin-top: 10px;
}

.mobile main .container #contacts .contactCon form .form-prop{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.mobile main .container #contacts .contactCon form button{
    position: absolute;
    margin: 420px 0 0 440px;
    width: 70px;
}



@media (max-width: 750px){
    
/* MOBILE NAV */

 nav{
    padding-top: 0;
    width: 70px;
    height: 70px;
    transition: .5s;
    inset: 2% 0 2% 3%;
}

    /* MOBILE NAV MENUTOGGLE */
 nav .menuToggle{
    position: absolute;
    top: 6px;
    left: -3px;
    width: 100%;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: flex-start;
    padding: 0 23px;
}

 nav .menuToggle::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    border-radius: 20px;
    background: #333;
    transform: translateY(-8px);
    transition: 0.5s;
}

 nav .menuToggle::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    border-radius: 20px;
    background: #333;
    transform: translateY(8px);
    transition: 0.5s;
    box-shadow: 0 -8px 0 #333;
}

/* OPEN MOBILE NAV */

 nav.open .menuToggle::before{
    transform: translateY(0px) rotate(45deg);
}
 nav.open .menuToggle{
    width: 75px;
}

 nav.open .menuToggle::after{
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 0 #333;
}


 nav.open{
    width: 200px;
    height: 95%;
    transition: .5s;
}

 nav.open ul li{
    opacity: 1;
    visibility: visible;
    transition: .5s;
}

 nav.open .navCon{
    display: grid;
    justify-content: center;
}

 nav.open .navCon .logo{
    opacity: 1;
    visibility: visible;
    transition: .5s;
}

 nav.open .navCon ul{
    display: flex;
    flex-direction: column;
}

 nav.open .navCon ul li{
    margin: 15px 0;
}


 nav ul li{
    opacity: 0;
    visibility: hidden;
}

 nav .navCon .logo{
    opacity: 0;
    visibility: hidden;
}

a.logo{
    text-decoration: none;
    color: inherit;
}

.project-card{
    display: flex;
}

main .container #projects{
    height: fit-content;
    /* height: 120vh; */
    max-height: 165vh;
}

.main footer{
    height: 40vh;
    width: 100vw;
    margin-top: 20px;
    align-items:center ;
    /* position: absolute; */
    background-color: #1e3050;
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
}

.main footer .reach ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    height: fit-content;
}

.main footer .reach ul li{
    margin: 5px;
    text-align: center;
}

.main footer .reach a{
    height: fit-content;
}

}

@media (max-width:1050px){
    main .container .page.two{
        height: fit-content;
        padding: 50px 0;
    }
    main .container #projects{
        max-height: 120vh;
    }
}

@media (orientation:landscape){
    main .container .page.two{
        height: fit-content;
        padding: 50px 0;
    }
    main .container #projects{
        max-height: 850px;
    }
}

@media (max-width:930px){
    main .container section .page.one{
        height: 100%;
        justify-content: center;
    }
    
    main .container section .page .intro{
        width: 90%;
    }
    
    main .container section .page .image{
        display: grid;
        align-items: center;
    }

    main .container .page.two{
        height: fit-content;
        padding: 50px 0;
    }

    main .container .page.three{
        height: fit-content;
        padding: 50px 0;
    }
    

    main .container #projects{
        height: fit-content;
        height: 120vh;
        /* max-height: 165vh; */
    }

    .project-container{
        width: 98%;
        justify-content: center;
    }

    .project-container .project-card{
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-container .project-card img{
        width: 100%;
    }


    main .container #contacts .contactCon form{
        display: grid;
        justify-items: center;
    }

    main .container #contacts .contactCon form .form-prop{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    main .container #contacts .contactCon form textarea{
        min-width: 350px;
        max-width: 350px;
        min-height: 300px;
        max-height: 300px;
        margin-top: 10px;
    }

    main .container #contacts .contactCon form button{
        position: relative;
        margin: 10px;
        width: 30%;
    }
}

